# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

-  popular languages that Data Scientists
-  libraries used by Data Scientists
-  Data Science Tools
-  evaluating arithmetic expressions
-  ordered list

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. JAVA
4. julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

In [5]:
# Below are a few examples of evaluating arithmetic expressions in Python
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Harsh